certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.1
Flask==2.0.1
idna==3.3
importlib-metadata==4.6.1
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.21.1
opencv-contrib-python==4.4.0.46
picamera==1.13
Pillow==8.3.1
pytesseract==0.3.8
requests==2.26.0
typing-extensions==3.10.0.0
urllib3==1.26.7
Werkzeug==2.0.1
zipp==3.5.0
